**/*.jpg
db/*.db
out/*.json
export/

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
nodejs-in-practice/.ntvs_analysis.dat
nodejs-in-practice/.ntvs_analysis.dat
.ntvs_analysis.dat
node_modules/
nodejs-in-practice/.ntvs_analysis.dat
